/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
}

#body{
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* header, main, footer{
  margin: 0 auto;
} */

/*HEADER*/

header{
  width: 1745px;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.container-header{
  margin-top: 43px;
  margin-left: 163px;
  width: 700px;
  display: flex;
  justify-content: space-between;

}

.logo{
  display: flex;
  align-items: center;
  width: 152px;
  height: 100px;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}

.nav-header{
  display: flex;
  justify-content: center;
  align-items: center;
  /* list-style-type: none; */
  /* text-decoration: none; */
  width: 425px;
}

.nav-header ul{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
  width: 425px;
  margin: 0;
  padding: 0;
}

.li-header{
  color: #FFF;
  text-align: center;
  font-size: 32px;
}

/*FOOTER*/

footer{
  width: 1745px;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-footer{
  margin-top: 43px;
  margin-left: 163px;
  width: 800px;
  display: flex;
  justify-content: space-between;

}

.nav-footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* list-style-type: none; */
  /* text-decoration: none; */
  width: 800px;
}

.nav-footer ul{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
  width: 800px;
  margin: 0;
  padding: 0;
}

.li-footer{
  color: #FFF;
  font-size: 20px;
}

/*MAIN*/

#main{
  margin: 0 auto;
  margin-left: 128px;
  display: flex;
  width: 100%;
}

/*-------------------------*/

.land-form{
  width: 800px;
  height: 800px;
  display: flex;
  /* display: none; */
  align-items: center;
  /* margin: 0 auto; */
  flex-direction: column;
  justify-content: center;
}

.land-form h1{
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 110px;
  width: 832px;
  height: 155px;
}

.land-form span{
  color: #FFF;
  text-align: center;
  font-size: 34px;
  height: 59px;
}

.image-main{
  margin-left: 172px;
  min-width: 1920px;
  position: absolute;
  z-index: -1;
}

.land-form button{
  margin-top: 30px;
  width: 265px;
  height: 81px;
  border-radius: 10px;
  background: #5E659D;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

.image-main img{
  width: 100%;
}

/*-------------------------*/

.feature-form{
  width: 1000px;
  height: 800px;
  /* display: flex; */
  display: none;
  align-items: center;
  /* margin: 0 auto; */
  flex-direction: column;
  justify-content: center;
}

.feature-form h1{
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 90px;
  width: 954px;
  height: 155px;
}

.feature-buttons{
  width: 800px;
  height: 90px;
}

.feature-buttons button{
  width: 206px;
  height: 90px;
  border-radius: 20px;
  background: #5E659D;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  border: none;
}

.middle-btn{
  margin-left: 78px;
  margin-right: 78px;
}

.feature-form span{
  margin-top: 108px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
}

/*-------------------------*/

.logIn-form{
  width: 787px;
  height: 800px;
  /* display: flex; */
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logIn-container{
  width: 787px;
  height: 392px;
  border-radius: 20px;
  background: #5E659D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logIn-data{
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 678px;
}

.logIn-data span{
  color: #FFF;
  text-align: center;
  font-size: 32px;
}

.logIn-data input{
  width: 500px;
  height: 66px;
  border-radius: 20px;
  border: 4px solid #DBAC74;
  background: #FFF;
}

.logIn-form button{
  width: 265px;
  height: 81px;
  border-radius: 10px;
  background: #5E659D;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  border: none;
  margin-top: 40px;
}
